ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

h1 {
    font-size: 2rem;
}

a {
    color: inherit;
    text-decoration: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

html {
    height: auto;
    width: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: hsl(0,0%,98%);
    color: #333;
    line-height: 1.5;
}

header {
    height: 11vh;
    min-height: 65px;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding-right: 1.5em;
    box-sizing: border-box;
}

.navbar {
    width: 28%;
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

.btn {
    border: none;
    width: 115px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    font-size: .9rem;
}

.btn-btc {
    background-color: #f2a900;
    color: #fff;
}

section {
    width: 100%;
}

main {
    width: 83%;
    margin-right: auto;
    margin-left: auto;
}

.text {
    width: 60%;
    font-size: 1rem;
}

section.home {
    padding-top: 2.8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 89vh;
    box-sizing: border-box;
}

section.home > .text {
    text-align: center;
}

section.home > img {
    margin-top: 1.8em;
    width: 20%;
}

.scroll-arrow {
    display: block;
    position: absolute;
    bottom: 2.5em;
    width: 25px;
    height: 25px;
    border-bottom: 2px solid #333;
    border-right: 2px solid #333;
    transform: rotate(45deg);
    cursor: pointer;
}

section.about {
    margin-top: 2em;
    padding-top: 6em;
}

section.about > .what-is,
section.about > .for-what {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5em;
}

section.about .content-container {
    width: 55%;
}

section.about .text {
    width: 100%;
}

section.about img {
    width: 30%;
}

section.convert-btc {
    padding: 0 9em;
    padding-bottom: 10em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.currency {
    width: 360px;
    height: 50px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    margin-bottom: 3em;
}

.currency > #input-currency {
    border: none;
    min-width: 30px;
    width: 50px;
    text-align: right;
    max-width: 250px;
    height: 100%;
    font-size: 1.8rem;
    margin-right: 10px;
    background-color: transparent;
    outline: none;
    font-style: italic;
    color: #333;
    box-sizing: border-box;
    /* padding: .3em 0em; */
    padding: 0;
}

.currency > .currency-symbol-wrapper {
    height: 100%;
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #f2a900;
    color: #f0f0f0;
}

.currency .currency-symbol {
    font-size: 1.3rem;
    /* font-style: italic; */
    cursor: inherit;
    text-align: center;
    margin-right: 3px;
    font-weight: 600;
}

.currency .select-currency-container {
    display: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    width: 25%;
    bottom: -105px;
    box-sizing: border-box;
    border-radius: 2px;
}

.select-currency-container.show {
    display: block;
}

.select-currency-container > li {
    width: 100%;
    height: 33px;
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bold
}

.select-currency-container > li:hover {
    background-color: #f2a900;
    border-radius: 2px;
}

.select-currency-container > li:last-child {
    border: none;
    margin-bottom: 0;
}

.arrow-down:before {
    content: '';
    display: block;
    position: relative;
    top: 1px;
    transform: rotate(180deg);
}

.arrow-down.show:before {
    content: '▲';
}

.switch-order {
    border: none;
    background-color: #00bfa6;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
}

.switch-order > img {
    width: 75%;
    transform: rotate(90deg)
}

.switch-order.animation {
    animation: rotateButton .8s;
}

.result {
    margin-top: 1.5em;
    display: flex;
    height: auto;
}

.result-content {
    font-size: 5rem;
    margin-right: .1em;
}

.result-symbol {
    align-self: center;
    font-size: 1.5rem;
}

@keyframes rotateButton {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(180deg)
    }
}